* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: var(--bcg-color-primary);
    font-family: var(--font-secondary);
    color: var(--text-color-secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--bcg-color-tertiary);
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    font-family: var(--font-primary);
    border-radius: 10px 0;

    box-shadow: var(--shadow-secondary);
}

header h1 {
    font-size: 20px;
}

header span {
    font-size: 30px;
}

main .container {
    width: 500px;
    padding: 20px 0;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.container-carrossel {
    overflow: hidden;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.carrosel {
    display: inline-block;
    white-space: nowrap;
    animation: animaCarrossel 60s linear infinite;
}

.carrosel img {
    display: inline-block;
    height: 200px;
    width: auto;
    border-radius: 10px;
    margin-right: 5px;
    object-fit: cover;
}

/* animação suave */
@keyframes animaCarrossel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.container-carrossel:hover .carrosel {
    animation-play-state: paused;
}

.texto {
    text-align: center;
}

.texto .titulo {
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--text-color-primary);
    margin-bottom: 10px;
}

.texto .titulo span {
    font-size: 19px;
}

.texto .texto-secundario,
.content-musicas .texto-secundario,
.contagem .texto-secundario {
    width: 400px;
    font-size: 16px;
    text-shadow: var(--shadow-secondary);
}

.texto .texto-secundario span {
    color: var(--text-color-primary);
    text-shadow: none;
}

.contagem {
    width: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.contagem .titulo-principal,
.musicas h2 {
    text-shadow: var(--shadow-secondary);
}

.contagem-tempo {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 300px;
    padding: 10px;
}

.contagem-tempo div {
    background-color: var(--bcg-color-secondary);
    width: 160px;
    height: 80px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: var(--shadow-primary);
}

.contagem-tempo span {
    font-size: 28px;
}

.contagem-tempo span.tempo {
    font-size: 16px;
    letter-spacing: 1.5px;
}

.contagem p {
    font-size: 16px;
    letter-spacing: 1.5px;
    margin: 10px 0;
    color: var(--text-color-primary);
}

.musicas {
    width: 500px;
    text-align: center;
    margin-top: 30px;
}

.musicas h2 {
    margin-bottom: 20px;
}

.content-musicas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.musica {
    width: 400px;
    background-color: var(--bcg-color-secondary);
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    padding: 16px 10px 16px 0;
    box-shadow: var(--shadow-primary);
}

.txt-musica {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-musica h3 {
    color: var(--text-color-primary);
    text-transform: uppercase;
    font-weight: bold;
}

.txt-musica span {
    font-size: 15px;
    font-style: italic;
}

.musica p {
    width: 200px;
    text-align: start;
    font-size: 14px;
    display: flex;
    align-items: center;
}

/* footer .txt-footer {
    background-color: var(--bcg-color-tertiary);
    width: 200px;
    margin-bottom: 40px;
    padding: 14px;
    text-align: center;
    font-weight: bold;
    font-family: var(--font-primary);
    font-size: 24px;
    border-radius: 10px 0;
    box-shadow: var(--shadow-secondary);
} */

.txt-footer {
    text-align: center;
    margin-bottom: 60px;
}

#love-button {
    padding: 15px 30px;
    font-weight: bold;
    font-family: var(--font-primary);
    font-size: 24px;
    background-color: var(--bcg-color-tertiary);
    color: var(--text-color-secondary);
    border-radius: 10px 0;
    box-shadow: var(--shadow-secondary);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.heart {
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--bcg-color-heart);
    transform: rotate(45deg);
    opacity: 1;
    animation: floatUp 1s ease-out forwards;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--bcg-color-heart);
    border-radius: 50%;
}

.heart::before {
    top: -5px;
    left: 0;
}

.heart::after {
    left: -5px;
    top: 0;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-80px) scale(0.5) rotate(45deg);
        opacity: 0;
    }
}