* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: var(--bcg-color-primary);
    font-family: var(--font-secondary);
    color: var(--text-color-secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--bcg-color-tertiary);
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    font-family: var(--font-primary);
    border-radius: 10px 0;

    box-shadow: var(--shadow-secondary);
}

header h1 {
    font-size: 20px;
}

header span {
    font-size: 30px;
}

main .container {
    /* background-color: blueviolet; */
    width: 500px;
    padding: 20px 0;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* .container-carrossel {
    overflow: hidden;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carrosel {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    width: auto;
    animation: animaCarrossel 40s linear infinite;
}

.carrosel img {
    object-fit: cover;
    border-radius: 10px;
    height: 200px;
}

@keyframes animaCarrossel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
} */

.container-carrossel {
    overflow: hidden;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.carrosel {
    display: inline-block;
    white-space: nowrap;
    animation: animaCarrossel 60s linear infinite;
}

.carrosel img {
    display: inline-block;
    height: 200px;
    width: auto;
    border-radius: 10px;
    margin-right: 5px;
    /* espaçamento manual (substitui gap) */
    object-fit: cover;
}

/* animação suave */
@keyframes animaCarrossel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.container-carrossel:hover .carrosel {
    animation-play-state: paused;
}

.texto {
    text-align: center;
}

.texto .titulo {
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--text-color-primary);
    /* color: #0A311C; */
    margin-bottom: 10px;
}

.texto .titulo span {
    font-size: 19px;
}

.texto .texto-secundario {
    width: 380px;
    font-size: 16px;
}

.contagem {
    /* background-color: goldenrod; */
    width: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.contagem .titulo-principal,
.musicas h2 {
    text-shadow: var(--shadow-secondary);
}

.contagem-tempo {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 300px;
    padding: 10px;
}

.contagem-tempo div {
    background-color: var(--bcg-color-secondary);
    width: 160px;
    height: 80px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: var(--shadow-primary);
}

.contagem-tempo span {
    font-size: 28px;
}

.contagem-tempo span.tempo {
    font-size: 16px;
    letter-spacing: 1.5px;
}

.contagem p {
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-top: 10px;
    color: var(--text-color-primary);
}


.musicas {
    /* background-color: black; */
    width: 500px;
    text-align: center;
    margin-top: 30px;
}

.musicas h2 {
    margin-bottom: 20px;
    /* text-decoration: underline 1.5px; */
}

.content-musicas {
    /* background-color: palevioletred; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.musica {
    width: 400px;
    background-color: var(--bcg-color-secondary);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 40px;
    border-radius: 10px;
    padding: 16px 10px 16px 0;

    box-shadow: var(--shadow-primary);
}

.txt-musica {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blueviolet; */
}

.txt-musica h3 {
    color: var(--text-color-primary);
    text-transform: uppercase;
    font-weight: bold;
}

.txt-musica span {
    font-size: 15px;
    font-style: italic;
}

.musica p {
    width: 200px;
    /* height: 150px; */
    /* background-color: crimson; */
    text-align: start;
    font-size: 14px;
    display: flex;
    align-items: center;
}

footer .txt-footer {
    /* background-color: var(--bcg-color-secondary); */
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    /* width: 200px;
    height: 70px; */
    /* padding-bottom: 5px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* z-index: 1000; */

    background-color: var(--bcg-color-tertiary);
    width: 200px;
    margin-bottom: 40px;
    padding: 14px;
    text-align: center;
    font-weight: bold;
    font-family: var(--font-primary);
    font-size: 24px;
    border-radius: 10px 0;

    box-shadow: var(--shadow-secondary);
}

/* footer .container-music { */
/* border: 1px solid red; */
/* width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px; */
/* } */

/* footer .player-musica button { */
/* width: 36px;
    height: 36px;
    border-radius: 40%; */
/* border-radius: 31% 69% 63% 37% / 53% 57% 43% 47% ; */
/* border-radius: 10px; */
/* background-color: var(--text-color-primary);
    color: var(--text-color-secondary);
    cursor: pointer; */
/* } */

/* footer .player-musica button i {
    font-size: 20px;
}

footer .info-music {
    font-size: 15px;
    letter-spacing: 1px;
}

footer .info-music span {
    font-weight: 600;
}

footer .info-music p {
    font-size: 12px;
    font-weight: 100;
} */