:root {
    --bcg-color-primary: #141414;
    --bcg-color-secondary: #0c0c0c;
    --text-color-primary: #FF2400;
    --text-color-secondary: #ffffff;
    --font-primary: "Dancing Script", serif;
    --font-secondary: "Bitter", serif;
}